<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <title>Comida Mexicana Saludable</title>
  </head>
  <body>
<header>
<section class="" id ="iconperfil">
  <label id="name"></label>
  <button type="button" id="logout">LogOut</button>
  </section>
</header>

<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>

<script type="text/javascript" src="../js/data.js"></script>
<script type="text/javascript" src="../js/posts.js"></script>
    </body>
</html>
