<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Perfil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS MATERIALIZE-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />

</head>

<body>
    <button id="login-g"> Acceder con Google</button>

    <!-- Maquetado de Timeline para post-->
    <!--Nav bar fixed para 3 items: perfil, título y agregar-->
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Mexican Food Lovers</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="profile.html">

                        <i class="material-icons">face</i>
                    </a>
                </li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="badges.html">
                        <i class="material-icons">add_circle_outline</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <!--End of Nav Bar fixed 3 items-->
    <!--End of TimeLine-->


    <!--JQuery para menú desplegable-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"> </script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <script src="../js/drawnProfile.js"></script>

</body>

</html>