
* {
  font-family: 'Dosis', sans-serif;
}

#login,
#userlogout {
  text-align: center;
}

#sesion {
  color: aliceblue;
}

#titulos2 {

  color: gray;
}
form {
  padding: 10px;
  margin-bottom: 5px;
}
.aboutme-card {
  background-color: #f9f888;
  color: #9e4f13;
}
.fixed-navbar {
  background-color: white;
  color: gray;
}
a:hover {
  background-color: #41bb9a;
}
.icon-pad {
  padding: 20%;
}
h4 {
  font-family: "Impact", sans-serif;
    color: gray;

}
/*Francis's Desing*/
.btn {
  background-color: #4caf50 !important ;
}
.red {
  background-color: red !important ;
}
#form-recipe, #form-places {
  display: none;
}
