#login,
#userlogout {
  text-align: center;
}

#sesion {
  color: aliceblue;
}

#titulos2 {
  color: gray;
}
.aboutme-card {
  background-color: #f9f888;
  color: #9e4f13;
}
.fixed-navbar {
  background-color: white;
  color: gray;
}
a:hover {
  background-color: #41bb9a;
}
.icon-pad {
  padding: 20%;
}
h4 {
  font-family: "Impact", sans-serif;
}
