* {
  font-family: 'Dosis', sans-serif;
}

#login,
#userlogout {
  text-align: center;
}

#sesion {
  color: aliceblue;
}

#titulos2 {
  color: gray;
}
form {
  padding: 10px;
  margin-bottom: 5px;
}
.aboutme-card {
  background-color: #f9f888;
  color: #9e4f13;
}
.fixed-navbar {
  background-color: white;
  color: gray;
}
a:hover {
  background-color: #41bb9a;
}
.icon-pad {
  padding: 20%;
}
h4 {
  font-family: 'Impact', sans-serif;
  color: gray;
}

#submenu {
  background-color: aqua;
}
#card-padding {
  background-color: #f9f888;
  font-family: 'Oswald', sans-serif;
  color: black;
  padding: 0%;
}
#ranking {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

#bar {
  margin: 0 auto;
  width: 100%;
}

#likes {
  height: 15px;
  width: 50%;
  background-color: yellow;
  float: left;
}

#dislikes {
  height: 15px;
  width: 50%;
  background-color: red;
  float: right;
}

#name-logo {
  height: 10%;
  width: 30%;
}
/*Francis's Desing*/
.btn {
  background-color: #4caf50 !important ;
}
.red {
  background-color: red !important ;

}
#form-recipe, #form-places {
  display: none;
}

.card {
  margin: 10px !important;
}

.padding-buttons {
  margin-bottom: 10px !important;
padding: 14px !important;
}
/* Ends Francis*/
